{
  "db": {
    "user": "thompson",
    "password": "AAAAAAAAAAA",
    "database": "thompson"
  },
  "ideone": {
    "username": "AAAAAAAAAAAA",
    "password": "AAAAAAAAAAAAAAAAAAAAA",
    "email": "AAAAAAAAAAAAAAAAAAA"
  },
  "servers": [
    "33333333333333333333"
  ],
  "client_id": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
}
